{% extends "book/base.html" %}
{% block main %}
  <section class="jumbotron text-center">
    <div class="container" id="recipe">
      <h1 class="jumbotron-heading">&#{{ recipe.icon.code }} {{ recipe.title }}</h1>
      <small class="text-muted">Dana has tried this recipe &#11088 {{ recipe.tries }} time(s)! <i><a href="{{ recipe.source }}" id="source">Source: {{ recipe.sourceName }}</a></i></small>
      <div class="row mt-4">
          <div class="col-md-5 mt-4">
            <div class="pt-2 pb-4 pr-4 rounded" style="background-color:#f1f1f5">
                <h4 class="ml-4 mt-4 mb-4">Ingredients</h4>
                <ul style="text-align:left">
                    {% for ingredient in ingredients %}
                      <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
          </div>
          <div class="col-md-7 mt-4">
            <h2 class="mt-2 mb-4" style="font-weight:300;text-align:left"><i>Instructions</i></h2>
            <ol style="text-align:left">
                {% for step in steps %}
                  <li> {{ step }} </li>
                {% endfor %}
            </ol>
          </div>
      </div>
    </div>
  </section>

  <div class="album py-5" id="backgroundColor">
    <div class="container">
        <div class="card">
            <h4 class="card-header">Notes</h4>
            <div class="card-body">
              <p class="card-text"><b>10/31/20: </b>Doubled the meat ball recipe and got around 20 meatballs, froze half.</p>
              <a href="#" class="btn btn-primary">Try Recipe &#11088</a>
            </div>
          </div>
    </div>
  </div>    
{% endblock %}