{% extends "book/base.html" %}
{% block main %}
  <section class="jumbotron text-center">
    <div class="container" id="recipe">
      <h1 class="jumbotron-heading">&#{{ recipe.icon.code }} {{ recipe.title }}</h1>
      <small class="text-muted">Dana has tried this recipe &#11088 {{ recipe.tries }} time(s)! <i><a href="{{ recipe.source }}" id="source">Source: {{ recipe.sourceName }}</a></i></small>
      <div class="row mt-4">
          <div class="col-md-5 mt-4">
            <div class="pt-2 pb-4 pr-4 rounded" style="background-color:#f1f1f5">
                <h4 class="ml-4 mt-4 mb-4">Ingredients</h4>
                <ul style="text-align:left">
                    {% for ingredient in ingredients %}
                      <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
          </div>
          <div class="col-md-7 mt-4">
            <h2 class="mt-2 mb-4" style="font-weight:300;text-align:left"><i>Instructions</i></h2>
            <ol style="text-align:left">
                {% for step in steps %}
                  <li> {{ step }} </li>
                {% endfor %}
            </ol>
          </div>
      </div>
    </div>
  </section>

  <div class="album py-5" id="backgroundColor">
    <div class="container">
        <div class="card">
            <h4 class="card-header">Notes</h4>
            <div class="card-body">
              {% for note in notes %}
                <p class="card-text"><b>{{ note.date_created }}: </b>{{ note.text }}</p>
              {% endfor %}
              {% if user.is_authenticated %}
                <form method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary" name="mybtn">Try Recipe &#11088</button>
                </form>
              {% else %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginRequiredModal">
                  Try Recipe &#11088
                </button>
              {% endif %}
            </div>
          </div>
    </div>
  </div> 
  
  <!-- Modal -->
  <div class="modal fade" id="loginRequiredModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="loginRequiredModalLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Only Dana can say she tried a recipe. Sorry!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}